* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

/* Common */
.dots-block {
  display: flex;
  gap: 6px;
}
.dot {
  width: 6px;
  height: 6px;
  background-color: #634700;
  border-radius: 50%;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btn {
  display: inline-block;
  background: #171100;
  min-width: 144px;
  border-radius: 24.5px;
  text-align: center;
  padding: 17px 12px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}
.btn:hover {
  background: #ffb900;
}
a {
  text-decoration: none;
}
.content {
  padding: 0 24px;
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}
/* Header */
/* header navigation */
.header-fixed {
  z-index: 1;
  position: sticky;
  top: -24px;
  background: #fffcf4;
}
.header-fixed .nav {
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 12px;
}

.header-fixed .nav .list {
  display: flex;
  gap: 42px;
  margin-left: auto;
  margin-right: 70px;
}
.header-fixed .item a {
  position: relative;
  padding: 12px 0;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  transition: "text-shadow" 3s ease;
}

.header-fixed .item a:hover {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.header-fixed .item:hover a::after {
  position: absolute;
  bottom: 12px;
  left: 0;
  content: "";
  display: inline-block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}
.header-fixed .nav .btn:hover {
  opacity: 0.9;
  background: #171100;
}
/* header body */
.header-body {
  padding: 52px 0 65px;
  background: #fffcf4;
}
.header-body .content {
  position: relative;
  display: flex;
}
.header-body .img-block {
  position: relative;
  width: 50%;
}
.header-body .img-block .image {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.header-body .list-courses {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: absolute;
  right: 0;
  bottom: 48px;
  padding: 24px;
  width: 270px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
.header-body .list-courses .item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-body .list-courses .qty-course {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
}

.header-body .list-courses .course-name {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}
.header-body .list-courses .info-course {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.header-body .info {
  width: 470px;
  position: absolute;
  right: 0;
  padding-top: 64px;
}

.header-body .info .heading {
  color: #171100;
  font-family: "Sen", sans-serif;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.header-body .info .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.header-body .info .ctn-block {
  display: flex;
  align-items: center;
  margin-top: 26px;
}

.header-body .ctn-block .btn {
  min-width: 180px;
  padding: 24px 12px;
  border-radius: 32px;
  font-size: 1.8rem;
}

.header-body .ctn-block .ctn-video {
  display: flex;
  align-items: center;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.header-body .ctn-video img {
  margin-top: 12px;
  margin-left: 28px;
}
.header-body .ctn-video:hover {
  opacity: 0.8;
}
.header-body .info .sub-desc {
  margin-top: 48px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
}

.header-body .info .qty-block {
  display: flex;
  margin-top: 8px;
  gap: 28px;
}

.header-body .qty-block .qty-item {
  display: flex;
  gap: 14px;
}

.header-body .qty-item .qty {
  color: #171100;
  font-family: "Sen", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
}

.header-body .qty-item p {
  margin-top: 20px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
}

/* Courses */
.courses {
  margin: 200px 0;
}
.courses .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses .row .column-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.courses .row .column-right {
  display: flex;
  gap: 18px;
}

.courses .row .title {
  color: #171100;
  font-family: "Sen", sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: -0.76px;
}

.courses .row .desc {
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.courses .list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.courses .list .item {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.courses .item .thumbnail {
  display: block;
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.courses .item .body {
  padding: 22px;
}

.courses .item .sub-title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.courses .rating {
  display: flex;
  gap: 6px;
}
.courses .rating span {
  margin-top: 2px;
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
}

.courses .item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.courses .item .row-bottom {
  margin-top: 12px;
}

.courses .item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}

.courses .item .btn {
  min-width: 118px;
  font-size: 1.4rem;
}

/* Review */
.review {
  padding: 96px 0;
  background: #2e2100;
}

.review .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.review .profile .name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: "Sen", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

.review .profile .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.review .row {
  display: flex;
  justify-content: space-between;
}

.review-desc p {
  width: 740px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54;
}

.review-desc img {
  position: relative;
  left: -30px;
}
.review .profile .dots-block {
  margin-top: 28px;
  display: flex;
  gap: 6px;
}

/* Stats */
.stats {
  margin: 200px 0;
}
.stats .row-top {
  display: flex;
  position: relative;
}
.stats .row-top .img-block {
  display: flex;
  gap: 30px;
}
.stats .row-top img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
}

.stats .row-top img:first-child {
  margin-top: 34px;
}

.stats .row-top .info {
  width: 470px;
  position: absolute;
  right: 0;
  padding: 58px 0;
}

.stats .info .title {
  color: #171100;
  font-family: "Sen", sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}
.stats .info .sub-desc,
.stats .info .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

.stats .btn {
  min-width: 137px;
  margin-top: 32px;
  border-radius: 26px;
  background: #ffb900;
}

.stats .btn:hover {
  opacity: 0.8;
}

.stats .row-bottom {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
.stats .row-bottom .info {
  width: 570px;
  padding: 71px 0;
}

.stats .row-bottom .img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
}

/* Blog */
.blog {
  padding: 96px 0;
  background: #fffcf4;
}

.blog-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blog-top .title {
  color: #130606;
  font-family: "Sen", sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.blog-top .desc {
  margin-top: 16px;
  width: 448px;
  color: #696262;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.blog-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.blog-list .item {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog-list .thumbnail {
  display: block;
  width: 370px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.blog-list .body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 20px 20px 28px;
}

.blog-list .body .date {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.blog-list .body .sub-title {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.blog-list .body .btn {
  min-width: 118px;
  font-size: 1.4rem;
}

.blog-list .body .saparate {
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blog-list .body-head {
  display: flex;
  gap: 4px;
  align-items: center;
}

.blog .dots-block {
  margin-top: 38px;
  justify-content: center;
}
