* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

/* Common */
.btn {
  display: inline-block;
  background: #171100;
  min-width: 144px;
  border-radius: 24.5px;
  text-align: center;
  padding: 17px 12px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}
.btn:hover {
  background: #ffb900;
}
a {
  text-decoration: none;
}
.content {
  padding: 0 24px;
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}
/* Header */
/* header navigation */
.header-fixed {
  z-index: 1;
  position: sticky;
  top: -24px;
  background: #fffcf4;
}
.header-fixed .nav {
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 12px;
}

.header-fixed .nav .list {
  display: flex;
  gap: 42px;
  margin-left: auto;
  margin-right: 70px;
}
.header-fixed .item a {
  position: relative;
  padding: 12px 0;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  transition: "text-shadow" 3s ease;
}

.header-fixed .item a:hover {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.header-fixed .item:hover a::after {
  position: absolute;
  bottom: 12px;
  left: 0;
  content: "";
  display: inline-block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}
.header-fixed .nav .btn:hover {
  opacity: 0.9;
  background: #171100;
}
/* header body */
.header-body {
  padding: 52px 0 65px;
  background: #fffcf4;
}
.header-body .content {
  position: relative;
  display: flex;
}
.header-body .img-block {
  position: relative;
  width: 50%;
}
.header-body .img-block .image {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.header-body .list-courses {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: absolute;
  right: 0;
  bottom: 48px;
  padding: 24px;
  width: 270px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
.header-body .list-courses .item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-body .list-courses .qty-course {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
}

.header-body .list-courses .course-name {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}
.header-body .list-courses .info-course {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.header-body .info {
  width: 470px;
  position: absolute;
  right: 0;
  padding-top: 64px;
}

.header-body .info .heading {
  color: #171100;
  font-family: "Sen", sans-serif;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.header-body .info .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.header-body .info .ctn-block {
  display: flex;
  align-items: center;
  margin-top: 26px;
}

.header-body .ctn-block .btn {
  min-width: 180px;
  padding: 24px 12px;
  border-radius: 32px;
  font-size: 1.8rem;
}

.header-body .ctn-block .ctn-video {
  display: flex;
  align-items: center;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.header-body .ctn-video img {
  margin-top: 12px;
  margin-left: 28px;
}
.header-body .ctn-video:hover {
  opacity: 0.8;
}
.header-body .info .sub-desc {
  margin-top: 48px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
}

.header-body .info .qty-block {
  display: flex;
  margin-top: 8px;
  gap: 28px;
}

.header-body .qty-block .qty-item {
  display: flex;
  gap: 14px;
}

.header-body .qty-item .qty {
  color: #171100;
  font-family: "Sen", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
}

.header-body .qty-item p {
  margin-top: 20px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
}
